
body{
    background-color: #17162b ;
    font-family: "Lato", sans-serif;
    color: white;
}
h1{
    font-weight: 900;
      margin-left: 70px;
      font-size: 40px;
}
#join{
    color: white;
    border: 2px solid  rgb(214, 208, 208) ;
    padding:  25px  20px;
    border-radius: 40px;
    margin-left: 700px;
    font-weight: 900;
    margin-top: -80px;
    background: transparent;
}
ul{
    display: flex;
    list-style: none;
    font-size: 18px;
   justify-content: center;
   margin-left: 150px;
  
}
span{
    color: blue
}
.bold{
font-weight: bolder;
color: white;
}
li{
    color: rgb(214, 208, 208);
    text-align: center;
  margin-left: 60px;
   margin-top: -60px;
}
#join:hover{
    cursor: pointer;
    background-color: white;
    color: blue;
}
ul:hover{
    cursor: grab;
}
button:hover{
     cursor: pointer;
    background-color: white;
    color: blue;
}
.one{
    margin-left: 70px;
    margin-top: -10px;
    color: rgb(204, 196, 196);
}
.main{
margin-top: 90px;
font-size: 70px;
}
button{
    margin-left:70px ;
    border: none;
    border-radius: 25px;
    padding: 12px 30px;
    margin-bottom: 120px;
    background-color: blue;
    color: white;
}
.two{
 text-align: center;
 color: rgb(204, 196, 196);
 font-size: 20px ;
  margin-top: -100px;
}
.head{
    text-align: center;
    margin-right: 90px;
    font-size: 50px;
    margin-top: -10px;

}
.arrow{
    margin-left: 1200px;
    margin-top: -180px;
    margin-bottom: -40px;
}
.boy{
    margin-top: -1500px;
margin-left: 800px;
margin-bottom: 130px;
}
.bubbles{
    margin-top: -230px;
    }